In [102]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt
%matplotlib inline

In [103]:
df = pd.read_csv('Dataset/popularity.csv', usecols=[60])

In [104]:
df.columns

Index([' shares'], dtype='object')

In [105]:
df.describe()

              shares
count   39644.000000
mean     3395.380184
std     11626.950749
min         1.000000
25%       946.000000
50%      1400.000000
75%      2800.000000
max    843300.000000

In [106]:
df.quantile(.80)

 shares    3400.0
Name: 0.8, dtype: float64

In [107]:
df.astype(int)

        shares
0          593
1          711
2         1500
3         1200
4          505
...        ...
39639     1800
39640     1900
39641     1900
39642     1100
39643     1300

[39644 rows x 1 columns]

In [108]:
df = df[df[' shares'] != 663600]

In [109]:
df.describe()

              shares
count   39643.000000
mean     3378.726433
std     11144.234220
min         1.000000
25%       946.000000
50%      1400.000000
75%      2800.000000
max    843300.000000

In [110]:
import pandas as pd

# Assuming 'df' is your DataFrame containing the 'shares' column

# Filter out articles beyond 10800 shares
df_filtered = df[df[' shares'] <= 10800]

# Calculate the mean of the remaining shares
mean_shares = df_filtered[' shares'].mean()

print("Mean shares of articles with 10800 shares or fewer:", mean_shares)

Mean shares of articles with 10800 shares or fewer: 2074.334386533202

In [111]:
df_filtered.describe()

             shares
count  37663.000000
mean    2074.334387
std     1871.814139
min        1.000000
25%      927.000000
50%     1400.000000
75%     2400.000000
max    10800.000000

In [118]:
100 - (df_filtered.count()/df.count())*100

 shares    4.994577
dtype: float64