In [2]:
500/7

71.42857142857143

In [3]:
500//7

71

In [4]:
 ((500//7) % 5) ** 3

1

In [25]:
L = [1, 2, 3]
L*2

[1, 2, 3, 1, 2, 3]

In [26]:
list(map(lambda x : x ** 2, L))

[1, 4, 9]

In [6]:
L = [[1, 2, 3], [4, 5, 6], [7, 8, 9, 10]]
L[2:]

[[7, 8, 9, 10]]

In [8]:
T = (3, 5, 7, 11)
T.append(9)

AttributeError: 'tuple' object has no attribute 'append'

In [9]:
D = {1:['Raj', 22], 2:['Simran', 21], 3:['Rahul', 40]}
for val in D:
     print(val)

1
2
3

In [13]:
paragraph = "I am in Gurgaon, and want to go to chandigarh"
single_word_list = []
for sentence in paragraph:
    for word in sentence.split():
        single_word_list.append(word)
print(single_word_list)

['I', 'a', 'm', 'i', 'n', 'G', 'u', 'r', 'g', 'a', 'o', 'n', ',', 'a', 'n', 'd', 'w', 'a', 'n', 't', 't', 'o', 'g', 'o', 't', 'o', 'c', 'h', 'a', 'n', 'd', 'i', 'g', 'a', 'r', 'h']

In [17]:
single_word_list2 = [word for sentence in paragraph for word in sentence.split()]
single_word_list == single_word_list2

True

In [18]:
def my_func(*args):
    return(sum(args))

print(my_func(1,2,3,4,5))
print(my_func(6,7,8))

15
21

In [33]:
# Read the input as an integer
n = 6

# Import the reduce() function
from functools import reduce

# Write your code here
print(reduce(lambda x,y: x * y, range(1,n+1)))

720

In [70]:
C = [2, 5, 9, 12, 13, 15, 16, 17, 18, 19] #cricket
F = [2, 4, 5, 6, 7, 9, 13, 16] #football
H = [1, 2, 5, 9, 10, 11, 12, 13, 15] #hockey

#convertSet
C = set(C)
F = set(F)
H = set(H)

#Students who play all the three sports
#print(sorted(list(C.intersection(F,H))))
print(sorted(list( C & F & H )))

#Students who play both cricket and football but don’t play hockey
print(sorted(list( (C & F) - H )))

#Students who play exactly two of the sports
print(sorted(list( (C&F) ^ (F&H) ^ (C&H) - (C&F&H) )))

#Students who don’t play any of the three sports
all_students = set(range(1,21))
print(sorted(list( all_students - C - F - H )))

[2, 5, 9, 13]
[16]
[12, 15, 16]
[3, 8, 14, 20]